In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

In [2]:
# Calculates total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
# Calculates Total number of students
student_count = len(school_data_complete["student_name"].unique())
# Calculates Average Maths Score
maths_score = school_data_complete["maths_score"].mean()
# Calculates Total Budget
budget = school_data_complete["budget"].sum()
# Calculates Average Reading Score
reading_score = school_data_complete["reading_score"].mean()
# Calculate the percentage of students with a passing maths score (50 or greater)
math_passing_percent = (school_data_complete[school_data_complete['maths_score'] >= 50]['maths_score'].count() / school_data_complete['maths_score'].count()) * 100
# Calculate the percentage of students with a passing reading score (50 or greater)
reading_passing_percent = (school_data_complete[school_data_complete['reading_score'] >= 50]['reading_score'].count() / school_data_complete['reading_score'].count()) * 100
# Calculate the percentage of students who passed maths and reading (% Overall Passing)
overall_passing_percent = (school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)]['student_name'].count() / school_data_complete['student_name'].count()) * 100
# Dataframe to hold the above results
area_summary = pd.DataFrame({'Total Number of Schools': [school_count],'Total Number of Students': [student_count],'Average Maths Score': [maths_score],'Budget': [budget],'Reading Score': [reading_score],'Math Passing': [math_passing_percent], 'Reading Passing': [reading_passing_percent], 'Overall Passing': [overall_passing_percent]})
area_summary

,Total Number of Schools,Total Number of Students,Average Maths Score,Budget,Reading Score,Math Passing,Reading Passing,Overall Passing
0,15,32655,70.338192,82932329558,69.980138,86.078632,84.426857,72.808272

## School Summary

In [3]:
# Group the data by school name
grouped_school_data = school_data_complete.groupby(['school_name'])

# Calculate the total number of students for each school
total_students = grouped_school_data['student_name'].count()

# Calculate the total budget for each school
total_budget = grouped_school_data['budget'].mean()

# Calculate the per student budget for each school
per_student_budget = total_budget / total_students

# Calculate the average math score for each school
avg_math_score = grouped_school_data['maths_score'].mean()

# Calculate the average reading score for each school
avg_reading_score = grouped_school_data['reading_score'].mean()

# Calculate the percentage of students who passed math for each school
passing_math = school_data_complete[school_data_complete['maths_score'] >= 70].groupby('school_name')['student_name'].count()/total_students*100

# Calculate the percentage of students who passed reading for each school
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()/total_students*100

# Calculate the percentage of students who passed both math and reading for each school
overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('school_name')['student_name'].count()/total_students*100

# Create a new DataFrame to hold the results
school_summary_df = pd.DataFrame({'School Type': school_data.set_index('school_name')['type'],
                                  'Total Students': total_students,
                                  'Total Budget': total_budget,
                                  'Per Student Budget': per_student_budget,
                                  'Average Math Score': avg_math_score,
                                  'Average Reading Score': avg_reading_score,
                                  '% Passing Math': passing_math,
                                  '% Passing Reading': passing_reading,
                                  '% Overall Passing': overall_passing})
school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,55.225080,52.451768,29.159968
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,53.175457,53.283100,28.579117
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,47.677179,49.169210,23.736860
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,48.959474,50.492881,24.497992
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,54.700272,54.155313,31.675749
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,49.255663,49.471413,24.660194
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,57.142857,55.503513,30.913349
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,48.920123,49.777168,23.723003
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,48.771267,48.603235,23.881537
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,55.405405,55.093555,30.457380
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,54.513628,52.788197,28.832208
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,54.968768,49.290176,26.348666
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,49.357798,50.703364,24.770642
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,49.364871,48.313622,24.485326
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,54.444444,52.166667,28.444444

## Top Performing Schools (By % Overall Passing)

In [4]:
top_performing_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=False).head(5)
top_performing_schools

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,54.700272,54.155313,31.675749
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,57.142857,55.503513,30.913349
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,55.405405,55.093555,30.457380
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,55.225080,52.451768,29.159968
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,54.513628,52.788197,28.832208

## Bottom Performing Schools (By % Overall Passing)

In [5]:
worst_performing_schools = school_summary_df.sort_values(by='% Overall Passing').head(5)
worst_performing_schools

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,48.920123,49.777168,23.723003
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,47.677179,49.169210,23.736860
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,48.771267,48.603235,23.881537
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,49.364871,48.313622,24.485326
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,48.959474,50.492881,24.497992

## Maths Scores by Year

In [6]:
# Create a series for each year level
year9_math_scores = school_data_complete[school_data_complete['year'] == 9].groupby('school_name')['maths_score'].mean()
year10_math_scores = school_data_complete[school_data_complete['year'] == 10].groupby('school_name')['maths_score'].mean()
year11_math_scores = school_data_complete[school_data_complete['year'] == 11].groupby('school_name')['maths_score'].mean()
year12_math_scores = school_data_complete[school_data_complete['year'] == 12].groupby('school_name')['maths_score'].mean()

# Create a dataframe to hold the results
math_scores_by_year = pd.DataFrame({'9th': year9_math_scores,
                                      '10th': year10_math_scores,
                                      '11th': year11_math_scores,
                                      '12th': year12_math_scores})
math_scores_by_year

                             9th       10th       11th       12th
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

In [7]:
# Create a series for each year level
year9_reading_scores = school_data_complete[school_data_complete['year'] == 9].groupby('school_name')['reading_score'].mean()
year10_reading_scores = school_data_complete[school_data_complete['year'] == 10].groupby('school_name')['reading_score'].mean()
year11_reading_scores = school_data_complete[school_data_complete['year'] == 11].groupby('school_name')['reading_score'].mean()
year12_reading_scores = school_data_complete[school_data_complete['year'] == 12].groupby('school_name')['reading_score'].mean()

# Create a dataframe to hold the results
reading_scores_by_year = pd.DataFrame({'9th': year9_reading_scores,
                                      '10th': year10_reading_scores,
                                      '11th': year11_reading_scores,
                                      '12th': year12_reading_scores})
reading_scores_by_year

                             9th       10th       11th       12th
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

In [8]:
# Create bins for spending ranges
bins = [0, 584, 629, 644, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

# Add a new column to the school summary dataframe with spending ranges
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_names)

# Group the dataframe by spending ranges
grouped_by_spending = school_summary_df.groupby("Spending Ranges (Per Student)")

# Calculate the average math score, average reading score, % passing math, % passing reading, and overall passing rate for each spending range
average_math_score = grouped_by_spending["Average Math Score"].mean()
average_reading_score = grouped_by_spending["Average Reading Score"].mean()
percent_passing_math = grouped_by_spending["% Passing Math"].mean()
percent_passing_reading = grouped_by_spending["% Passing Reading"].mean()
overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

# Create a new dataframe to hold the results
spending_summary = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing Rate": overall_passing_rate
})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$584,71.364587,70.716577,53.531907,52.316726,52.924316
$585-629,72.065868,71.031297,55.074882,52.747703,53.911292
$630-644,69.854807,69.838814,50.127020,50.788413,50.457716
$645-675,68.884391,69.045403,48.982351,49.283939,49.133145

## Scores by School Size

In [9]:
# Create bins for school size
size_bins = [0, 1000, 2000, 5000]
size_group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add a new column to the school summary dataframe with school size
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=size_group_names)

# Group the dataframe by school size
grouped_by_size = school_summary_df.groupby("School Size")

# Calculate the average math score, average reading score, % passing math, % passing reading, and overall passing rate for each school size
average_math_score = grouped_by_size["Average Math Score"].mean()
average_reading_score = grouped_by_size["Average Reading Score"].mean()
percent_passing_math = grouped_by_size["% Passing Math"].mean()
percent_passing_reading = grouped_by_size["% Passing Reading"].mean()
overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

# Create a new dataframe to hold the results
size_summary = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing Rate": overall_passing_rate
})

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),72.335748,71.636864,56.274131,55.298534,55.786333
Medium (1000-2000),71.421650,70.720164,53.329348,51.919724,52.624536
Large (2000-5000),69.751809,69.576052,50.335911,50.133437,50.234674

## Scores by School Type

In [10]:
# Group the dataframe by school type
grouped_by_type = school_summary_df.groupby("School Type")

# Calculate the average math score, average reading score, % passing math, % passing reading, and overall passing rate for each school type
average_math_score = grouped_by_type["Average Math Score"].mean()
average_reading_score = grouped_by_type["Average Reading Score"].mean()
percent_passing_math = grouped_by_type["% Passing Math"].mean()
percent_passing_reading = grouped_by_type["% Passing Reading"].mean()
overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

# Create a new dataframe to hold the results
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing Rate": overall_passing_rate
})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Government,69.834806,69.675929,50.474631,50.393410,50.434021
Independent,71.368822,70.718933,53.569984,52.313664,52.941824