In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [7]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [8]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [11]:
# Calculates total number of unique schools
school_count = len(school_data_complete["school_name"].unique())

In [19]:
# Calculates Total number of students
student_count = len(school_data_complete["student_name"].unique())

In [20]:
# Calculates Average Maths Score
maths_score = school_data_complete["maths_score"].mean()

In [21]:
# Calculates Total Budget
budget = school_data_complete["budget"].sum()

In [22]:
# Calculates Average Reading Score
reading_score = school_data_complete["reading_score"].mean()

In [29]:
summary_df = pd.DataFrame({"Total Schools": [school_count],
                               "Total Students": [student_count],
                               "Total Budget": [budget],
                               "Average Maths Score": [maths_score],
                               "Average Reading Score": [reading_score]})
summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score
0,32655,32655,82932329558,70.338192,69.980138